<div class="grid">
  <div class="col-8">
    <div class="card">
 
      <p-galleria [value]="images" [thumbnailsPosition]="position" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '80%' }" [numVisible]="5"> 
          <ng-template pTemplate="item" let-item>
              <img [src]="item.itemImageSrc" style="width: 100%; min-height: 420px; display: block;" />
          </ng-template>
          <ng-template pTemplate="thumbnail" let-item>
              <div class="grid grid-nogutter justify-content-center">
                  <img [src]="item.thumbnailImageSrc" />
              </div>
          </ng-template>
      </p-galleria>
    </div>
  </div>
  <div class="col-4">
      4
  </div>
</div>
