<div class="grid">
  <div *ngFor="let i of countCategory" class="col-12 md:col-6 lg:col-3">
    <!-- <p-card [style]="{ width: '100%' }" class="wrapper">
      
      <ng-template pTemplate="header">
        <a [routerLink]="['/product-category/camisas']">
          
        </a>
        
      </ng-template>
      
    </p-card> -->

    <div class="example-2 card">
      <div class="wrapper">
        <div class="header">
          <div class="date">
            <span class="day">19</span>
            <span class="month">Junio</span>
            <span class="year">2023</span>
          </div>
        </div>
        <div class="data">
          <div class="content">
            <h1 class="title">
              <a href="#">POLOS</a>
            </h1>
            <p class="text">
              Polos de moda verano, sientase comodo.
            </p>
            <p-button label="Ver más"  (onClick)="navigateUrl('/product-category/polos')" styleClass="p-button-raised button"></p-button>

            <!-- <a href="#" class="button">Read more</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div  class="col-12 md:col-6 lg:col-3">
    <p-card
  header="$50.00"
  subheader="Polo Unicolor Logo Bordado Mostaza M"
  [style]="{ width: '100%' }"
  class="wrapper"
>
  <ng-template pTemplate="header">
    <a [routerLink]="['/product-category/chaquetas']"  >
      <img alt="Card" src="/assets/img/POLOS-SUPERIOR-IZQ-TAB-8-06-2023.webp" />
    </a>
  </ng-template>
  <p>
    <app-buttons-sizes></app-buttons-sizes>
 </p>
  <ng-template pTemplate="footer" >
    <p-button label="Agregar al carrito" icon="pi pi-shopping-cart" styleClass="p-button-lg modific-primary"></p-button>
  </ng-template>
</p-card>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <p-card
  header="$50.00"
  subheader="Polo Unicolor Logo Bordado Mostaza M"
  [style]="{ width: '100%' }"
  class="wrapper"
>
  <ng-template pTemplate="header">
    <a [routerLink]="['/product-category/polos']" >
      <img alt="Card" src="/assets/img/POLOS-SUPERIOR-IZQ-TAB-8-06-2023.webp" />
    </a>
  </ng-template>
  <p>
    <app-buttons-sizes></app-buttons-sizes>
 </p>
  <ng-template pTemplate="footer" >
    <p-button label="Agregar al carrito" icon="pi pi-shopping-cart" styleClass="p-button-lg modific-primary"></p-button>
  </ng-template>
</p-card>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <p-card
  header="$50.00"
  subheader="Polo Unicolor Logo Bordado Mostaza M"
  [style]="{ width: '100%' }"
  class="wrapper"
>
  <ng-template pTemplate="header">
    <a [routerLink]="['/product-category/pantalones']"  >
      <img alt="Card" src="/assets/img/POLOS-SUPERIOR-IZQ-TAB-8-06-2023.webp" />
    </a>
  </ng-template>
  <p>
    <app-buttons-sizes></app-buttons-sizes>
 </p>
  <ng-template pTemplate="footer" >
    <p-button label="Agregar al carrito" icon="pi pi-shopping-cart" styleClass="p-button-lg modific-primary"></p-button>
  </ng-template>
</p-card>
  </div> -->
</div>


